<%- include header %>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

<style></style>

<style>
  td.details-control {
    background: url("https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png") no-repeat center center;
    cursor: pointer;
  }

  tr.shown td.details-control {
    background: url("https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png") no-repeat center center;
  }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= title %>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body table-responsive">
            <div class="row pad-20">
              <div class="pull-right">
                <select class="col search-user pull-right" name="state"></select>
                <select class="col trans-type pull-right" name="filter">
                  <option value="A">All</option>
                  <option value="B">Bank Transactions</option>
                  <option value="P">Paytm Transactions</option>
                  <option value="U">Upi Transactions</option>
                </select>
                </div>

            </div>

            <table id="transTable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Amount (RS)</th>
                  <th>Payment Mode</th>
                  <th>Request On</th>
                  <th>Completed On</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% var i = 1; for(d of data) {%>
                <tr>
                  <td><%= i++%></td>
                  <td>
                    <a  href="/user/view/<%= d.user_id %>"><%= d.username %></a target="_blank">
                  </td>
                  <td><%= d.amount %></td>
                  <td><%= d.payment_method %></td>
                  <td class="time_formateDateandTime2"><%= d.created_at %></td>
                  <td class="time_formateDateandTime2">
                    <%= d.completed_at %>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <a href="#"><small class="label bg-blue"
                            onclick="showData('<%= d.payment_method %>','<%= d.amount %>', '<%= d.acc_name %>', '<%= d.bank_name %>', '<%= d.ifsc %>', '<%= d.mobile %>','<%= d.upi_id %>', '<%= d.acc_no %>')">View</small></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<div id="details" class="modal fade remark" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title" id="mode"></h4>
      </div>
      <div class="modal-body" id="modal-body-remark"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<%- include footer %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script>
  $(document).ready(function () {
    var THAT_ID = "";
    var THAT_FILTER = "";

    let searchSelect = $(".search-user")
      .select2({
        allowClear: true,
        placeholder: "Search user",
        ajax: {
          url: "/admin/find_user",
          data: function (params) {
            var query = {
              search: params.term,
              type: "public"
            };
            // Query parameters will be ?search=[term]&type=public
            return query;
          }
        }
      })
      .on("select2:unselecting", function (e) {
        $(this).data("state", "unselected");
      })
      .on("select2:open", function (e) {
        if ($(this).data("state") === "unselected") {
          $(this).removeData("state");

          var self = $(this);
          setTimeout(function () {
            self.select2("close");
          }, 1);
        }
      })
      .on("select2:select", function (e) {
        // Do something
        THAT_ID = e.params.data.id;
        table.ajax.reload();
        console.log("THAT_ID", THAT_ID);
      })
      .on("select2:clearing", function (e) {
        console.log("cleared");
        THAT_ID = "";
        table.ajax.reload();
      });
    // Hello

    let typeFilter = $(".trans-type")
      .select2({
        allowClear: true,
        placeholder: "Filter By Transaction Type"
      })
      .on("select2:unselecting", function (e) {
        $(this).data("filter", "unselected");
      })
      .on("select2:open", function (e) {
        if ($(this).data("filter") === "unselected") {
          $(this).removeData("filter");

          var self = $(this);
          setTimeout(function () {
            self.select2("close");
          }, 1);
        }
      })
      .on("select2:select", function (e) {
        // Do something
        THAT_FILTER = e.params.data.id;
        table.ajax.reload();
        console.log("THAT_FILTER", THAT_FILTER);
      })
      .on("select2:clearing", function (e) {
        console.log("cleared");
        THAT_FILTER = "";
        table.ajax.reload();
      });

    var table = $("#transTable").DataTable({
      destroy: true,
      dom: "lBfrtip",
      lengthMenu: [
        [10, 25, 100, 500],
        [10, 25, 100, 500]
      ],
      pageLength: 10,
      buttons: [{
          extend: "excel",
          text: '<span class="fa fa-file-excel-o"></span> Excel Export',
          exportOptions: {
            modifier: {
              search: "applied",
              order: "applied"
            },
            columns: 'th:not(:last-child)',
            format: {
              body: function (data, row, column, node) {
                console.log("NODE", node);
                let rez =
                  column == 4 || column == 5 ? formateDateandTime(data.replace(
                    `<span class='time_formateDateandTime2'>`, "").replace("</span>", "")) : column == 1 ?
                  data.replace(/<a href="\/user\/view\/.{24}">/gi, "").replace("</a>", "") : column == 6 ?
                  "" : data;
                console.log("REZ", rez);
                return rez;
              }
            }
          }
        },
        {
          extend: "pdf",
          text: '<span class="fa fa-file-pdf-o"></span> PDF Export',
          exportOptions: {
            modifier: {
              search: "applied",
              order: "applied"
            },
            columns: 'th:not(:last-child)',
            format: {
              body: function (data, row, column, node) {
                console.log("NODE", node, row, column, data);
                let rez =
                  column == 4 || column == 5 ? formateDateandTime(data.replace(
                    `<span class='time_formateDateandTime2'>`, "").replace("</span>", "")) : column == 1 ?
                  data.replace(/<a href="\/user\/view\/.{24}">/gi, "").replace("</a>", "") : column == 6 ?
                  "" : data;
                console.log("REZ", rez);
                return rez;
              }
            }
          }
        }
      ],
      responsive: true,
      processing: true,
      serverSide: true,
      ajax: {
        url: "/rejected_ajax",
        data: function (params) {
          console.log("PARAMS", params);
          params.id = THAT_ID;
          params.filter = THAT_FILTER;
          return params;
        }
      },
      deferLoading: "<%= total %>",
      columnDefs: [{
          orderable: true,
          targets: [2, 4, 5]
        },
        {
          orderable: false,
          targets: [0, 1, 3, 6]
        }
      ],
      drawCallback: function () {
        $(".time_formateDateandTime2").each(function () {
          console.log("ELEM", $(this).text());
          let dat = formateDateandTime(parseInt($(this).text()));
          $(this).text(dat);
        });
      }
    });
  });
  $('#transTable').DataTable().order([4, 'desc']).draw()

  function formateDateandTime(date) {
    // 7/12/2018 12:25PM

    if (isNaN(date))
      return date;
    console.log("DATA", date);
    var dat = new Date(parseInt(date));
    console.log("DATA After", dat);
    var mon =
      dat.getMonth() + 1 > 9 ?
      dat.getMonth() + 1 :
      "0" + parseInt(dat.getMonth() + parseInt(1));

    var hours = dat.getHours() % 12;
    hours = hours > 9 ? hours : "0" + hours;

    var minutes = dat.getMinutes();
    minutes = minutes > 9 ? minutes : "0" + minutes;

    var ap = dat.getHours() >= 12 ? "PM" : "AM";
    var day = dat.getDate() > 9 ? dat.getDate() : "0" + dat.getDate();

    rez =
      day +
      "/" +
      mon +
      "/" +
      dat.getFullYear() +
      " " +
      hours +
      ":" +
      minutes +
      ap;

    return rez;
  }

  function showData(
    mode,
    amount,
    acc_name,
    bank_name,
    ifsc_code,
    mobile,
    upi_id,
    acc_no
  ) {
    if (mode == "Paytm") {
      $("#mode").html(mode);
      $("#modal-body-remark").html(
        "<h4>Mobile Number</h4>" + "<h3>" + mobile + "</h3>"
      );
    } else if (mode.toLowerCase() == 'phonepe') {
      $('#mode').html(mode);
      $('#modal-body-remark').html('<table class="table table-bordered"></td></tr><tr><td>Mobile</td><td>' +
        mobile +
        '</td></tr><tr><td>UPI ID</td><td>' +
        upi_id +
        '</td></tr></table>'
      );
    } else if (mode.toLowerCase() == 'google_pay') {
      $('#mode').html(mode);
      $('#modal-body-remark').html(
        '<table class="table table-bordered"></td></tr><tr><td>Mobile</td><td>' +
        mobile +
        '</td></tr><tr><td>UPI ID</td><td>' +
        upi_id +
        '</td></tr></table>'
      );
    } else if (mode.toLowerCase() == 'upi') {
      $('#mode').html(mode);
      $('#modal-body-remark').html(
        '<table class="table table-bordered">'+
        '</td></tr><tr><td>UPI ID</td><td>' +
        upi_id +
        '</td></tr></table>'
      );
    } 
    else {
      $("#mode").html(mode);
      $("#modal-body-remark").html(
        '<table class="table table-bordered"><tr><td>Name</td><td>' +
        acc_name +
        "</td></tr><tr><td>Bank Name</td><td>" +
        bank_name +
        "</td></tr><tr><td>Acc No</td><td>" +
        acc_no +
        "</td></tr><tr><td>IFSC</td><td>" +
        ifsc_code +
        "</td></tr><tr><td>Mobile</td><td>" +
        mobile +
        "</td></tr></table>"
      );
    }
    $("#details").modal("show");
  }
</script>