<%- include header %>
<style>
.title{
    margin: 0;
    font-size: 24px;
}
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="">
            <div class="row">
                <div class="col-md-4">
                    <h1 class='title'>
                        <%= title %>
                    </h1>
                </div>
                <div class="col-md-8">
                    <div class="pull-right">
                        <select class="col search-user" name="state" style="width:150px;"></select>
    
                        <select class="col select-type" name="type" style="width:250px;">
                            <option></option>
                            <option value="G">Game</option>
                            <option value="P">Payment</option>
                            <option value="A">Admin</option>
                            <option value="B">Bonus</option>
                            <option value="R">Refund</option>
                            <option value="REF">Referral</option>
                            <option value="O">Other</option>
                        </select>
        
                        <select class="col select-status" name="status" style="width:250px;">
                            <option></option>
                            <option value="S">Success</option>
                            <option value="P">Pending</option>
                            <option value="F">Failed</option>
                        </select>
                        </div>
                </div>
                <!-- <div class="row text-center pad-20"> -->
    
                <!-- </div> -->
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Username</th>
                                    <th>Txn Amount (RS)</th>
                                    <th>Win Wallet (RS)</th>
                                    <th>Main Wallet (RS)</th>
                                    <th>Bonus Wallet (RS)</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Remark</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i=1; for (d of data) {%>
                                <tr class="gradeX">
                                    <td><%= d.order_id %></td>
                                    <td><a  href="<%= host %>/user/view/<%= d.user_id%>"><%= d.username %></a
                                            target="_blank"></td>
                                    <% if (d.txn_amount > 0) { %>
                                    <td><span class="label label-success"><%= d.txn_amount %></span></td>
                                    <% } else { %>
                                    <td><span class="label label-danger"><%= d.txn_amount %></span></td>
                                    <% } %>
                                    <td><%= d.win_wallet %></td>
                                    <td><%= d.main_wallet %></td>
                                    <td><%= d.bonus_wallet %></td>

                                    <% 
                                    function formateDateandTime(date) {
                                        // 7/12/2018 12:25PM
                                        var dat = new Date(date);
                                        var mon = (dat.getMonth() + 1 > 9) ? dat.getMonth() + 1 : "0" + parseInt(dat.getMonth() + parseInt(1));
                                                        
                                        var hours = dat.getHours() % 12;
                                        hours = (hours > 9) ? hours : "0" + hours;
                            
                                        var minutes = dat.getMinutes();
                                        minutes = (minutes > 9) ? minutes : "0" + minutes;
                            
                                        var ap = (dat.getHours() >= 12) ? "PM" : "AM";
                                        var day = (dat.getDate() > 9) ? dat.getDate() : "0" + dat.getDate();
                            
                                        rez = day + "/" + mon + "/" + dat.getFullYear() + " " + hours + ":" + minutes + ap;
                                        return rez;
                                    }
                                    %>
                                    <td><%=d.created_at %></td>
                                    <% if (d.txn_mode == 'P') { %>
                                    <td>Payment<span><%- (d.payment_mode == 'PA') ? ' - Paytm' : (d.payment_mode == 'N/A') ? '' : ' - '+d.payment_mode%></span></td>
                                    <% } else if(d.txn_mode == 'A'){ %>
                                    <td>ADMIN</td>
                                    <% } else if(d.txn_mode == 'B'){ %>
                                    <td>BONUS</td>
                                    <% } else if(d.txn_mode == 'R'){ %>
                                    <td>REFUND</td>
                                    <% } else if(d.txn_mode == 'O'){ %>
                                    <td>OTHER</td>
                                    <% } else if(d.txn_mode == 'REF'){ %>
                                    <td>REFERRAL</td>
                                    <% } else { %>
                                    <td>GAME</td>
                                    <% } %>
                                    <td>
                                        <%= d.msg %>
                                    </td>
                                    <td>
                                        <button type="button"
                                            class="btn btn-<% if(d.is_status == 'P'){%>warning<%}else if(d.is_status == 'S'){%>success<%}else if(d.is_status == 'F'){%>danger<%}%> label bg-<% if(d.is_status == 'P'){%>orange<%}else if(d.is_status == 'S'){%>green<%}else if(d.is_status == 'F'){%>red<%}%>" data-id="<%= d.id%>"><% if(d.is_status == 'P'){%>Pending<%}else if(d.is_status == 'S'){%>Success<%}else if(d.is_status == 'F'){%>Failed<%}%></button>
                                    </td>
                                </tr>
                            <% }%>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal -->
<div id="remark" class="modal fade remark" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remark</h4>
            </div>
            <div class="modal-body" id="modal-body-remark">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<%- include footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    $(document).ready(function (e) {

        var THAT_ID = "";
        var THAT_TYPE = "";
        var THAT_STATUS = "";

        $('.search-user').select2({
            allowClear: true,
            placeholder: 'Search user',
            ajax: {
                url: '/admin/find_user',
                data: function (params) {
                    var query = {
                        search: params.term,
                        type: 'public'
                    }
                    // Query parameters will be ?search=[term]&type=public
                    return query;
                }
            }
        });

        $('.search-user').on('select2:select', function (e) {
            // Do something
            THAT_ID = e.params.data.id;
            table.ajax.reload();
            console.log("THAT_ID", THAT_ID);
        });

        $(".search-user").on("select2:clearing", function (e) {
            console.log('cleared');
            THAT_ID = "";
            table.ajax.reload();
        });


        $('.select-type').select2({
            allowClear: true,
            placeholder: 'Type of transaction'
        });

        $('.select-type').on('select2:select', function (e) {
            THAT_TYPE = e.params.data.id;
            table.ajax.reload();
        });

        $(".select-type").on("select2:clearing", function (e) {
            THAT_TYPE = "";
            table.ajax.reload();
        });

        $('.select-status').select2({
            allowClear: true,
            placeholder: 'Transaction status'
        });

        $('.select-status').on('select2:select', function (e) {
            THAT_STATUS = e.params.data.id;
            table.ajax.reload();
        });

        $(".select-status").on("select2:clearing", function (e) {
            THAT_STATUS = "";
            table.ajax.reload();
        });

        function formateDateandTime(date) {
            // 7/12/2018 12:25PM
            var dat = new Date(date);
            var mon = (dat.getMonth() + 1 > 9) ? dat.getMonth() + 1 : "0" + parseInt(dat.getMonth() + parseInt(
                1));


            var hours = dat.getHours() % 12;
            hours = (hours > 9) ? hours : "0" + hours;

            var minutes = dat.getMinutes();
            minutes = (minutes > 9) ? minutes : "0" + minutes;

            var ap = (dat.getHours() >= 12) ? "PM" : "AM";
            var day = (dat.getDate() > 9) ? dat.getDate() : "0" + dat.getDate();

            rez = day + "/" + mon + "/" + dat.getFullYear() + " " + hours + ":" + minutes + ap;

            return rez;
        }

        $('#example1').DataTable().destroy();
        var table = $('#example1').DataTable({
            destroy: true,
            dom: 'lBfrtip',
            lengthMenu: [
                [10, 25, 100, 500],
                [10, 25, 100, 500]
            ],
            pageLength: 10,
            buttons: [{
                    extend: 'excel',
                    text: '<span class="fa fa-file-excel-o"></span> Excel Export',
                    exportOptions: {
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        },
                        format: {
                            body: function (data, row, column, node) {
                                // Strip $ from salary column to make it numeric
                                if (column === 1) {
                                    data = data.replace(/<.*?>/ig, "");
                                }
                                if (column === 2) {
                                    data = data.replace(/<.*?>/ig, "");
                                }
                                if (column === 9) {
                                    data = data.replace(/<.*?>/ig, "");
                                }

                                if (column === 6) {
                                    data = formateDateandTime(parseInt(data));
                                }
                                return data;

                            }
                        }
                    }
                },
                {
                    extend: 'pdf',
                    text: '<span class="fa fa-file-pdf-o"></span> PDF Export',
                    exportOptions: {
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        },
                        format: {
                            body: function (data, row, column, node) {
                                // Strip $ from salary column to make it numeric
                                if (column === 1) {
                                    data = data.replace(/<.*?>/ig, "");
                                }
                                if (column === 2) {
                                    data = data.replace(/<.*?>/ig, "");
                                }
                                if (column === 9) {
                                    data = data.replace(/<.*?>/ig, "");
                                }

                                if (column === 6) {
                                    data = formateDateandTime(parseInt(data));
                                }
                                return data;

                            }
                        }
                    }
                }
            ],
            "responsive": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                'url': '/ajax_transaction',
                data: function (params) {
                    console.log("PARAMS", params);
                    params.id = THAT_ID;
                    params.type = THAT_TYPE;
                    params.status = THAT_STATUS;
                    return params;
                }
            },
            "deferLoading": "<%= total %>",
            "createdRow": function (row, data, dataIndex) {
                console.log(data[5], dataIndex);
                var rowData = '<td>' + data[0] + '</td>' +
                    '<td>' + data[1] + '</td>' +
                    '<td>' + data[2] + '</td>' +
                    '<td>' + data[3] + '</td>' +
                    '<td>' + data[4] + '</td>' +
                    '<td>' + data[5] + '</td>' +
                    '<td>' + formateDateandTime(parseInt(data[6])) + '</td>' +
                    '<td>' + data[7] + '</td>' +
                    '<td>' + data[8] + '</td>' +
                    '<td>' + data[9] + '</td>';
                $(row).html(rowData);
            },
            columnDefs: [{
                    orderable: true,
                    targets: [2, 3, 4, 5, 6]
                },
                {
                    orderable: false,
                    targets: [0, 1, 7, 8, 9]
                }
            ]
        });
        $('#example1').DataTable().order([5, 'desc']).draw();

        $(document).on("click", ".export", function () {
            console.log("fire");
            var data = table.buttons.exportData();
        });
    });

    function openModal(d) {
        if (d == "") {
            $("#modal-body-remark").html('No Data Found');
        } else {
            $("#modal-body-remark").html(d);
        }

        $('#remark').modal('show');
    }
</script>