<%- include header %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%= title %>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="usersTab" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Mobile</th>
                                    <th>Game Played</th>
                                    <th>Wallet</th>
                                    <th>Win Wallet</th>
                                    <th>Reg Date</th>
                                    <th>Verification</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i = 1; for (d of data) {%>
                                <tr class="gradeX">
                                    <td><%= d.username %></td>
                                    <td><%= d.mobile %></td>
                                    <td><%= d.game_played%></td>
                                    <td><%= d.wallet %></td>
                                    <td><%= d.win %></td>
                                    <td><%= d.created_at%></td>
                                    <% if (d.email_verified && d.otp_verified) { %>
                                    <td><small class="label bg-green">Verified</small></td>
                                    <% } else { %>
                                    <td><small class="label bg-red">Unverified</small></td>
                                    <% } %>
                                    <td class="actions text-center">
                                        <a
                                            href="<%= host%>/user/view/<%= d.id%>"
                                            target="_blank"
                                            class="on-editing save-row"
                                            ><i class="fa fa-eye"></i
                                        ></a>
                                    </td>
                                </tr>
                                <% }%>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include footer %>

<script>
    $(document).ready(function(e) {
        function formateDateandTime(date) {
            // 7/12/2018 12:25PM
            var dat = new Date(date);
            var mon = dat.getMonth() + 1 > 9 ? dat.getMonth() + 1 : '0' + parseInt(dat.getMonth() + parseInt(1));

            var hours = dat.getHours() % 12;
            hours = hours > 9 ? hours : '0' + hours;

            var minutes = dat.getMinutes();
            minutes = minutes > 9 ? minutes : '0' + minutes;

            var ap = dat.getHours() >= 12 ? 'PM' : 'AM';
            var day = dat.getDate() > 9 ? dat.getDate() : '0' + dat.getDate();

            rez = day + '/' + mon + '/' + dat.getFullYear() + ' ' + hours + ':' + minutes + ap;

            return rez;
        }

        $('#usersTab').DataTable({
            destroy: true,
            dom: 'lBfrtip',
            lengthMenu: [
                [10, 25, 100, 500],
                [10, 25, 100, 500]
            ],
            pageLength: 10,
            buttons: [
                {
                    extend: 'excel',
                    text: '<span class="fa fa-file-excel-o"></span> Excel Export',
                    exportOptions: {
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        },
                        format: {
                            body: function(data, row, column, node) {
                                // Strip $ from salary column to make it numeric
                                if (column === 6) {
                                    data = data.replace(/<.*?>/gi, '');
                                }
                                if (column === 7) {
                                    data = data.replace(/<.*?>/gi, '');
                                }

                                if (column === 5) {
                                    data = formateDateandTime(parseInt(data));
                                }
                                return data;
                            }
                        }
                    }
                },
                {
                    extend: 'pdf',
                    text: '<span class="fa fa-file-pdf-o"></span> PDF Export',
                    exportOptions: {
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        },
                        format: {
                            body: function(data, row, column, node) {
                                // Strip $ from salary column to make it numeric
                                if (column === 6) {
                                    data = data.replace(/<.*?>/gi, '');
                                }
                                if (column === 7) {
                                    data = data.replace(/<.*?>/gi, '');
                                }

                                if (column === 5) {
                                    data = formateDateandTime(parseInt(data));
                                }
                                return data;
                            }
                        }
                    }
                }
            ],
            responsive: true,
            processing: true,
            serverSide: true,
            ajax: '/users_ajax',
            deferLoading: '<%= total %>',
            // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0, 1, 2, 3 ] }],
            aaSorting: [],
            sortField: 5,
            sortOrder: '-1',
            columnDefs: [
                {
                    orderable: true,
                    targets: [0, 5, 3, 4]
                },
                {
                    orderable: false,
                    targets: [1, 2, 6, 7]
                }
            ],
            createdRow: function(row, data, dataIndex) {
                console.log(data[5], dataIndex);
                var rowData =
                    '<td>' +
                    data[0] +
                    '</td>' +
                    '<td>' +
                    data[1] +
                    '</td>' +
                    '<td>' +
                    data[2] +
                    '</td>' +
                    '<td>' +
                    data[3] +
                    '</td>' +
                    '<td>' +
                    data[4] +
                    '</td>' +
                    '<td>' +
                    formateDateandTime(parseInt(data[5])) +
                    '</td>' +
                    '<td>' +
                    data[6] +
                    '</td>' +
                    '<td>' +
                    data[7] +
                    '</td>';
                $(row).html(rowData);
            }
        });
        $('#usersTab').DataTable().order([5, 'desc']).draw()
    });
</script>
