<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Golden Rummy | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- DataTables -->
    <link href="/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Responsive datatable examples -->
    <link href="/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
    
    <link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- App Css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
    <link href="/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/datatable.css">
    
    <style>
        .tableHover :hover{
            background-color: hsla(0, 0%, 98%, 0.35);
        }
        a.disabled {
            opacity: 0.65;
            cursor: not-allowed !important;
            pointer-events: none;
        }

    </style>

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <%- include('../../partials/header') %>
        
        <!-- ========== Left Sidebar Start ========== -->
        <%- include('../../partials/sideBar') %>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title-box">
                                <h4>KYC-Management</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/mgp-rummy/api/admin/dashboard">Home</a></li>
                                        <li class="breadcrumb-item active">KYC-listing</a></li>
                                    </ol>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-rep-plugin">
                                        <div data-pattern="priority-columns">
                                            <div class="table-responsive">
                                                <input type="hidden" value="">
                                                <table id="kycTable" class="table  dt-responsive nowrap" style="border-collapse: collapse;  width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>DOB</th>
                                                            <th>Date & Time</th>
                                                            <th>Documents</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <%- include('../../partials/footer')%>
                </div>
                <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->

            <!-- Right Sidebar -->
            <%- include('../../partials/rightSideBar') %>
            <!-- /Right-bar -->

            <!-- Right bar overlay-->
            <div class="rightbar-overlay"></div> 
            
            <!-- JAVASCRIPT -->
            <script src="/libs/jquery/jquery.min.js"></script>
            <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/libs/metismenu/metisMenu.min.js"></script>
            <script src="/libs/simplebar/simplebar.min.js"></script>
            <script src="/libs/node-waves/waves.min.js"></script>
            <script src="/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>

            <!-- Responsive Table js -->
            <script src="/js/pages/datatable.js"></script>

            <!-- App js -->
            <script src="/js/app.js"></script>
            <script>
                
                $(document).ready(function(){
                    var t = $('#kycTable').DataTable({
                        serverSide : true,
                        paging:true,
                        searching:true,
                        serverMethod : 'get',
                        ajax : {
                            url : '/mgp-rummy/api/fetch-kyc',
                            headers:{
                                Authorization :'Bearer <%=data.token%>',
                            },
                        },
                        columns : [
                            { data: "serialNo", defaultContent: '-'  },
                            { data: "name", defaultContent: '-'  },
                            { data: "email", defaultContent: '-'},
                            { data: "dob", defaultContent: '-'},
                            { data: "datetime", defaultContent: '-' },
                            { width:"10%",data: "viewDoc", defaultContent: '-' },
                            { width:"10%",data: "status", defaultContent: '-' },
                        ],
                        columnDefs: [
                            {
                                targets: [5],
                                orderable: false
                            }
                        ],
                        success : function(response){
                            console.log("Success Response",response)
                        }
                    });    
                });
                $(document).on("click", ".btn-status2", function (e) {
                    const id = $(this).find("input[type='hidden']").val();
                    const status = $(this).val(); 
                    Swal.fire({
                        title: 'Do you want to change status?',
                        showDenyButton: true,
                        confirmButtonText: 'Yes',
                        denyButtonText: `No`,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch(`/mgp-rummy/api/changeDocStatus/${id}/${status}`, {
                                method: 'POST',
                                headers: {
                                    Authorization :'Bearer <%=data.token%>',
                                }
                            }).then(response => {
                                console.log(response)
                                if(response.status === 200){
                                    window.location.href = '/mgp-rummy/api/admin/kyc-management';
                                }else{
                                    // Display error message using Toastify
                                    Toastify({
                                        text : "Error",
                                        close: true,
                                        duration: 3000,
                                        style:{
                                            background: "red",
                                            color: "#fff",
                                            fontWeight: "bold"
                                        }
                                    }).showToast();
                                }
                            }).catch(error => {
                                // Handle fetch error here
                                console.error('Error occurred while making the API request', error);
                            });
                        }                              
                    })
                });

                $(document).on("change", ".btn-status1", function (e) {
                    let id = $(this).val();
                    $.ajax({
                        url: `/mgp-rummy/api/change-status/${id}`,
                        method: "PUT",
                        headers:{
                            Authorization :'Bearer <%=data.token%>',
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        success: function (response) {
                            console.log("Resp",response);
                            if(response.code === 200){
                                 // Display error message using Toastify
                                 Toastify({
                                    text : response.message,
                                    close: true,
                                    duration: 3000,
                                    style:{
                                        background: "green",
                                        color: "#fff",
                                    }
                                }).showToast();
                            }else if (response.code === 400|| response.code === 401){
                                // Display error message using Toastify
                                Toastify({
                                    text : response.message,
                                    close: true,
                                    duration: 3000,
                                    style:{
                                        background: "red",
                                        color: "#fff",
                                    }
                                }).showToast();
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log("Error",errorThrown)
                        }
                    });
                });
          
            </script>
</body>

</html>