<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Golden Rummy | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- DataTables -->
    <link href="/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Responsive datatable examples -->
    <link href="/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
    
    <link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    
    <!-- App Css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/datatable.css">
    
    <style>
        .tableHover :hover{
            background-color: hsla(0, 0%, 98%, 0.35);
        }
        
    </style>

</head>


<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <%- include('../../partials/header') %>
        
        <!-- ========== Left Sidebar Start ========== -->
        <%- include('../../partials/sideBar') %>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title-box">
                                <h4>Edit-Notification</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/mgp-rummy/api/admin/dashboard">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/mgp-rummy/api/admin/notification-management">Notification-listing</a></li>
                                        <li class="breadcrumb-item active">Edit-Notification</a></li>
                                    </ol>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
  
                        <!-- end col -->
                        
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="updateNotification" action="#" class="custom-validation">
                                        <div style="font-size: 14px;">Note: '<span style="color:red">*</span>' indicates mandatory fields.</div>
                                        <input type="hidden" id="notificationId" name="notificationId" value="<%=data.notificationData._id%>">
                                        <div class="form-group mt-4">
                                            <label for="type">Select Type: </label><span style="color:red">*</span>
                                            <select id="type" name="type" class="form-control d-inline-block w150 mr-3 mb-1">
                                                <option value="In-App"<% if(data.notificationData.type == 'In-App'){ %>selected <%}%>>In-App</option>
                                                <option value="Push"<% if(data.notificationData.type == 'Push'){ %>selected <%}%>>Push</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="user_type">Select Users: </label><span style="color:red">*</span>
                                            <select id="user_type" name="user_type" class="form-control d-inline-block w150 mr-3 mb-1">
                                                <option value="All" <% if(data.notificationData.user_type == 'All'){ %>selected <%}%>>All</option>
                                                <option value="Custom" <% if(data.notificationData.user_type == 'Custom'){ %>selected <%}%>>Custom Users</option>
                                            </select>
                                           
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="user_selectbox" style="display: <%= data.notificationData.user_type == 'Custom' ? 'block ! important;':'none ! important;' %>" >
                                                <label for="usernames">Select usernames:</label><span style="color:red">*</span>
                                                <select id="usernames" name="usernames" multiple style="width: 100%"></select>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="title">Title</label><span style="color:red">*</span>
                                            <div>
                                                <input id="title" name="title" type="text" value="<%=data.notificationData.title%>" class="form-control"  placeholder="Enter title" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label><span style="color:red">*</span>
                                            <div>
                                                <textarea id="description" name="description" type="text" class="form-control"  placeholder="Enter title" ><%=data.notificationData.message%></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="scheduledDateTime">Date to Send</label><span style="color:red">*</span>
                                            <div>
                                                <input id="scheduledDateTime" name="scheduledDateTime" value="<%=data.notificationData.sentAt%>" type="datetime-local" class="form-control"  placeholder="Enter title" />
                                            </div>
                                        </div>

                                        <div class="form-group mb-0">
                                            <div>
                                                <button id="submitBtn" type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                                    Update
                                                </button>
                                                <a href="/mgp-rummy/api/admin/notification-management">
                                                    <div class="btn btn-danger waves-effect waves-light mr-1">
                                                    Cancel
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </form>
                    
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
            
                    <!-- end row -->
                    <%- include('../../partials/footer')%>
                </div>
                <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->

            <!-- Right Sidebar -->
            <%- include('../../partials/rightSideBar') %>
            <!-- /Right-bar -->

            <!-- Right bar overlay-->
            <div class="rightbar-overlay"></div> 
        
            <!-- JAVASCRIPT -->
            <script src="/libs/jquery/jquery.min.js"></script>
            <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/libs/metismenu/metisMenu.min.js"></script>
            <script src="/libs/simplebar/simplebar.min.js"></script>
            <script src="/libs/node-waves/waves.min.js"></script>
            <script src="/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

            <!-- Responsive Table js -->
            <script src="/js/pages/datatable.js"></script>

            <!-- App js -->
            <script src="/js/app.js"></script>
            <script>
                 $("#user_type").on("change", function () {
                    var type = $(this).val();
                    if (type == "Custom") 
                        $(".user_selectbox").show();
                    else 
                        $(".user_selectbox").hide();
                });
                // get users
                $(document).ready(function () {
                    const $usernames = $("#usernames");
                    const selectedUsernames= '<%- data.notificationData.usernames%>'.split(',').map(card => card.trim()).filter(Boolean);
                    console.log(selectedUsernames)
                    $.ajax({
                        url: "/mgp-rummy/api/getUsers",
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            const results = data.map(function (item) {
                                return {
                                    id: item._id,
                                    text: item.name,
                                };
                            });
                            const placeholderText = selectedUsernames.length > 0 ? "No username selected" : "Search by Username";
                            $usernames.select2({
                                multiple: true,
                                minimumInputLength: 2,
                                placeholder: placeholderText,
                                allowClear: true,
                                data: results,
                                templateResult: function (data) {
                                    // If there is no text, it means it's a placeholder option
                                    if (!data.text) {
                                        return data.text;
                                    }
                                    // Display the username in the dropdown option
                                    return $('<span>' + data.text + '</span>');
                                },
                                templateSelection: function (data) {
                                    // Display the selected usernames in the input field
                                    return data.text;
                                }
                            });
                            if (selectedUsernames.length > 0) {
                                $usernames.val(selectedUsernames).trigger("change");
                            }
                        },
                    });
                    $usernames.on("select2:select", function (e) {
                        const selectedUsernames = $usernames.val();

                        selectedUsernames.forEach(function (username) {
                            const listItem = $("<li>").text(username);
                            $("#selectedUsernames").append(listItem);
                        });
                    });
                });
                // Create Notification
                $(document).ready(function(){
                    $('#updateNotification').on('submit', function (e) {
                        e.preventDefault();
                        var formData = $(this).serialize(); // Serialize the form data
                        $.ajax({
                            type: 'put',
                            url : '<%=data.url%>/mgp-rummy/api/updateNotification',
                            headers:{
                                Authorization :'Bearer <%=data.admin.token%>',
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            data: formData,
                            success: function (response) {
                                console.log("response",response);
                                if(response.code === 200){
                                    window.location.href = '/mgp-rummy/api/admin/notification-management';

                                }else if (response.code === 400|| response.code === 401){
                                    // Display error message using Toastify
                                    Toastify({
                                        text : response.message,
                                        close: true,
                                        duration: 3000,
                                        style:{
                                            background: "red",
                                            color: "#fff",
                                            fontWeight: "bold"
                                        }
                                    }).showToast();
                                }
                            },
                            error: function() {
                                // Handle the error case
                                console.log('Error occurred while making the API request.');
                            }
                        });
                    });
                });

            </script>
          
</body>

</html>