<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Golden Rummy | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- DataTables -->
    <link href="/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Responsive datatable examples -->
    <link href="/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
    
    <link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- App Css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
    <link href="/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/datatable.css">
    
    <style>
        .tableHover :hover{
            background-color: hsla(0, 0%, 98%, 0.35);
        }
        a.disabled {
            opacity: 0.65;
            cursor: not-allowed !important;
            pointer-events: none;
        }

    </style>

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <%- include('../../partials/header') %>
        
        <!-- ========== Left Sidebar Start ========== -->
        <%- include('../../partials/sideBar') %>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title-box">
                                <h4>Notification-Management</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/mgp-rummy/api/admin/dashboard">Home</a></li>
                                        <li class="breadcrumb-item active">Notification-listing</a></li>
                                    </ol>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <!-- <h4 class="card-title">Example</h4>
                                    <p class="card-title-desc">This is an experimental awesome solution for responsive tables with complex data.</p> -->

                                    <div class="table-rep-plugin">
                                        <div  data-pattern="priority-columns">
                                            <a href="create-notification"><input class="btn btn-info" type="button" value="Send New Notification"></a>
                                            <hr>
                                            <div class="table-responsive">
                                                <table id="notificationList" class="table  dt-responsive nowrap" style="border-collapse: collapse;  width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>User</th>
                                                            <th>Title</th>
                                                            <th>Sent On</th>
                                                            <th>Type</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <%- include('../../partials/footer')%>
                </div>
                <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->

            <!-- Right Sidebar -->
            <%- include('../../partials/rightSideBar') %>
            <!-- /Right-bar -->

            <!-- Right bar overlay-->
            <div class="rightbar-overlay"></div> 
            
            <!-- JAVASCRIPT -->
            <script src="/libs/jquery/jquery.min.js"></script>
            <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/libs/metismenu/metisMenu.min.js"></script>
            <script src="/libs/simplebar/simplebar.min.js"></script>
            <script src="/libs/node-waves/waves.min.js"></script>
            <script src="/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

            <!-- Responsive Table js -->
            <script src="/js/pages/datatable.js"></script>

            <!-- App js -->
            <script src="/js/app.js"></script>
            <script>
                // Prevent click event propagation when the button is clicked
                const disabledButtons = document.querySelectorAll(".btn-disabled");
                    disabledButtons.forEach((button) => {
                    button.addEventListener("click", (event) => {
                        event.stopPropagation();
                    });
                });
                $(document).ready(function(){
                    var t = $('#notificationList').DataTable({
                        serverSide : true,
                        paging:true,
                        searching:true,
                        serverMethod : 'get',
                        ajax : {
                            url : '/mgp-rummy/api/fetch-notification',
                        },
                        columns : [
                        { data: "serialNo", defaultContent: '-'  },
                        { data: "user_type", defaultContent: '-'  },
                        { data: "title", defaultContent: '-'},
                        { data: "sentAt", defaultContent: '-' },
                        { data: "type", defaultContent: '-' },
                        { width:"10%",data: "action", defaultContent: '-' },
                        ],
                        createdRow: function(row, data, dataIndex) {
                            // Use 'data' object to access the data for this row
                            // Customize the row or apply CSS class based on the data

                            // Example: Add a CSS class to the 'Action' column header ('<th>') based on the 'type' value
                            if (data.is_sent === true) {
                                $('td:eq(5)', row).css('cursor','not-allowed');
                            }
                        },
                        success : function(response){
                            console.log("Success Response",response)
                        }
                    });    
                });

                $(document).on("change", ".btn-status1", function (e) {
                    let id = $(this).val();
                    $.ajax({
                        url: `/mgp-rummy/api/change-status/${id}`,
                        method: "PUT",
                        headers:{
                            Authorization :'Bearer <%=data.token%>',
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        success: function (response) {
                            console.log("Resp",response);
                            if(response.code === 200){
                                 // Display error message using Toastify
                                 Toastify({
                                    text : response.message,
                                    close: true,
                                    duration: 3000,
                                    style:{
                                        background: "green",
                                        color: "#fff",
                                    }
                                }).showToast();
                            }else if (response.code === 400|| response.code === 401){
                                // Display error message using Toastify
                                Toastify({
                                    text : response.message,
                                    close: true,
                                    duration: 3000,
                                    style:{
                                        background: "red",
                                        color: "#fff",
                                    }
                                }).showToast();
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log("Error",errorThrown)
                        }
                    });
                });
          
            </script>
</body>

</html>